<% layout("/layouts/boilerplate") %>
<h2>Edit your listing</h2>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
  <input name="listing[title]" value="<%= listing.title %>" type="text" />
  <br />
  <textarea name="listing[description]"><%= listing.description %></textarea>
  <br />
  <input name="listing[price]" value="<%= listing.price %>" type="number" />
  <br />
  <input name="listing[image]" type="text" />
  <br />
  <input name="listing[location]" value="<%= listing.location %>" type="text" />
  <br />
  <input name="listing[country]" value="<%= listing.country %>" type="text" />
  <br />
  <button>add</button>
</form>
